asteroid
datasets
denoiser
editdistance
fire
gdown
googletrans==3.1.0a0
hydra-core
IPython
matplotlib
numpy
pandas
pedalboard
pillow
pyctcdecode
speechbrain
tensorboard
transformers
torch
torch_audiomentations
torchaudio
torchmetrics
torchvision
tqdm
wandb
spafe
moviepy
TTS
pydub
openai-whisper
ffmpeg-python
pysrt
opencv_python